@charset "utf-8";

.wrapper {
    width: 400px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
header {
    padding: 20px;
    background-color: #FFCE7a;
}
header div {
    background-color: #fff;
    padding: 10px;
    float: right;
}
header p {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-color: #C2FFC8;
    float: left;
}
header p:last-child {
    margin-right: 0;
}
.a1 {
    width: 150px;
    height: 250px;
    float: left;
    background-color: #9DDDF4;
}
.a2 {
    float: right;
    background-color: #C2FFC8;
    padding: 40px 60px 40px 40px;
}
.a2 div {
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    border: 5px solid #fff;
    background-color: #FFC2C5;
}
.a2 div:last-child {
    margin-bottom: 0;
}
footer {
    height: 100px;
    background-color: #BEA5FF;
}