* {
    padding: 0;
    margin: 0;
}

.wrapper {
	width: 400px;
	margin:0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.header {
    width: 100%;
    height: 100px;
    background: #FFCE7A;
}

.left {
    width: 150px;
    height: 250px;
    background: #9DDDF4;
    float: left;
}


.right {
    float: left;
}

.right_in-left {
    float: right;
}

.right_in-leftup {
    width: 150px;
    height: 50px;
    background: #C2FFCB;
}

.right_in-leftmid {
    width: 150px;
    height: 100px;
    background: #FFC2C5;
}

.right_in-right {
    width: 100px;
    height: 150px;
    background: #F89C9C;
    float: right;
}

.right_in-low {
    width: 250px;
    height: 100px;
    background: #FFF083;
}

.footer {
    width: 100%;
    height: 100px;
    background: #BEA5FF;
}